html {
  background-color: rgb(255,255,255);
  animation-name: colorchange;
  animation-duration: 11s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
  @keyframes colorchange{
      0%{background-color: #f4e749;}
      10%{background-color: #60bbf4;}
      20%{background-color: aqua;}
      30%{background-color: #7d42dd;}
      40%{background-color: #e5903a;}
      50%{background-color: #a58828;}
      60%{background-color: #bc3bbc;}
      70%{background-color: #164a16;}
      80%{background-color: #d94646;}
      90%{background-color: #b96c52;}
      100%{background-color: #bcef32;}
}



#newBugForm {
  display: flex;
  flex-flow: column wrap;
  margin: 20px;
}

#newBugFormTitle {
  background-color: gold;
}

#bugFormAppName {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#nameError {
  margin: -15px 0;
  margin-bottom: -4px;
  color: red;
}

#bugFormRadio {
  margin-top: 5px;
  margin-bottom: 15px;
}

#entryError {
  margin: -15px 0;
  margin-bottom: 15px;
  color: red;
}

#bugFormDescription {
  width: 400px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#descriptionError {
  margin: -15px 0;
  margin-bottom: 15px;
  color: red;
}

#hidden {
  display: none;
}

#bugFormButton {
  width: 125px;
  height: 30px;
  margin: 10px 0;
}

.bugCards {
  border: solid 3px #d8d8d8;
  margin: 10px 0;
  padding: 10px;
}

.bug {
  background-color: red;
  height: 20px;
  width: 30px;
  position: relative;
  color: white;
  padding-left: 5px;
}

.bug:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.feature {
  background-color: green;
  height: 20px;
  width: 50px;
  position: relative;
  color: white;
  padding-left: 5px;
}

.feature:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid green;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.newApp {
  background-color: orange;
  height: 20px;
  width: 70px;
  position: relative;
  color: white;
  padding-left: 5px;
}

.newApp:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid orange;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#totalTickets {
  border: 1px solid orange;
  width: 150px;
  height: 40px;
  padding-top: 20px;
  text-align: center;
}