#newBugForm {
  background-color: gainsboro;
  display: flex;
  flex-flow: column wrap;
}

#newBugFormTitle {
  background-color: gold;
}

.bugCards {
  border: solid 3px #F2F2F2;
  margin: 2px;
  padding: 0px 10px;
}

.bug {
  background-color: red;
  height: 20px;
  width: 30px;
  position: relative;
  color: white;
  padding-left: 5px;
}

.bug:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.feature {
  background-color: green;
  height: 20px;
  width: 50px;
  position: relative;
  color: white;
  padding-left: 5px;
}

.feature:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid green;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.newApp {
  background-color: orange;
  height: 20px;
  width: 70px;
  position: relative;
  color: white;
  padding-left: 5px;
}

.newApp:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid orange;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}